@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    /*border: 1px solid gray;*/
}

.main-page {
}

/* NAVBAR */
.nav-container {
    border-bottom: 1px solid #aca8a8;
    position: fixed;
    width: 100%;
    background-color: #b4cfef;
}

.nav-container ul li {
    list-style: none;
}

.nav-container ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #041134;
}

/* POSTS */
.post-container {
    width: 90%;
    padding-top: 100px;
    margin: auto;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 30px;
}

.post {
    border: 1px solid #bebaba;
}

.post:hover {
    box-shadow: 1px 0px 10px 0px rgba(109, 103, 103, 0.75);
}

.post:hover .read-more {
    visibility: inherit;
}

.post .title {
    height: 50px;
    text-align: center;
}

.post .post-image {
    display: block;
    width: 80%;
    margin: auto;
}

.read-more {
    visibility: hidden;
}

.post .read-more button {
    height: 30px;
    margin: 5px 68%;
    width: 30%;
    border: none;
    color: #2352b0;
    cursor: pointer;
}

.load-more {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.load-more button {
    width: 120px;
    height: 30px;
    cursor: pointer;
    color: #2352b0;
    border: 1px solid #d7d4d4;
    outline: none;
}

.load-more button:hover {
    box-shadow: 1px 0px 10px 0px rgba(109, 103, 103, 0.75);
}

/* POST PAGE */
.post-page-container {
    width: 94%;
    margin: auto;
    padding-top: 100px;
}

.current-post {
    width: 90%;
    margin: 0 auto 40px;
    display: flex;
    justify-content: space-between;
}

.post-title {
    width: 30%;
}

.post-title h2 {
    text-align: center;
}

.post-title img {
    display: block;
    margin: auto;
    border: 1px solid gray;
    padding: 5px;
}

.post-info {
    width: 50%;
}

.post-info a {
    text-decoration: none;
    font-weight: bold;
    color: #041134;
}

/* USER PAGE CONTAINER*/
.user-page-container {
    padding-top: 100px;
}

.user-page-container div > h2 {
    text-align: center;
    margin: 50px 0 0 0;
}

.user-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.user-image img {
    display: block;
    border: 1px solid gray;
    padding: 5px;
}

/* COMMENT SECTION */
.comment-container {
    width: 94%;
    margin: auto;
    padding-top: 30px;
}

.comment {
    border-bottom: 1px solid #837c7c;
    width: 90%;
}

/* FOOTER */
.footer {
    height: 50px;
    border-top: 1px solid #676565;
    width: 96%;
    margin: 30px auto;
}

/* WINDOW SCROLL */
.nav-scroll {
    display: none;
}

/* MEDIA */
@media only screen and (max-width: 600px) {
    .current-post {
        flex-direction: column;
    }

    .current-post .post-info {
        width: 90%;
        margin: auto;
    }

    .current-post .post-title {
        width: 90%;
        margin: auto;
    }

    .user-container {
        flex-direction: column;
    }
}